@font-face
{
    font-family: "Emblema One";
    src: url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.woff"),
    url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.ttf");
}
body
  {
    font-family: Verdana, Geneva, Arial, sans-serif ;
      font-size: small;
}
h1, h2
{
   color:red;
   font-size: 150%
   }
   h1
{
    font-family: "Emblema One", sans-serif;
    
h2
{
    font-weight: normal;
}
blockquote
{
    font-style: oblique;
}
   p
       {
           color:green;
       }
em
{
    font-family: serif;
    }
