@font-face
{
    font-family: "Emblema One";
    src: url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.woff"),
    url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.ttf");
}
body
  {
    font-family: Verdana, Geneva, Arial, sans-serif ;
      font-size: small;
}
h1
{
   color:red;
   font-size: 300%
   }
   h1
{
    font-family: "Emblema One", sans-serif;
}
h2
{
    font-size: 150%;
    font-weight: normal;
    color:brown;
}
blockquote
{
    font-size: 120%;
        font-color:blue;
    font-style: oblique;
}
   p
       {
           color:green;
       }
em
{
    font-family: serif;
}
.Intro
{
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times,serif;
    color: black;
    font-size-adjust: auto;
    boarder_color: black;
    boarder-width: 1px;
    boarder-style: dashed;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
    background-color:darkseagreen;
    padding: 25px;
    padding-left:80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/doll.jpeg);
    background-repeat:no-repeat;
    background-position:right;
    }
