@font-face
{
    font-family: "Emblema One";
    src: url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.woff"),
    url("emblema font/emblema-one-v5-latin/emblema-one-v5-latin-regular.ttf");
}
body
  {
    font-family: Verdana, Helvetica, Arial, sans-serif ;
}
h1, h2
{
   color:#007e7e ;
   }
  h1
{
    font-family: "Emblema One", sans-serif;
}
   h1
{
    font-size: 150% ;
}

h2
{
    font-size: 120% ;
}
   p
       {
           font-color:firebrick;
           font-size: small;
       }

.guarantee
{
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times,serif;
    color: #444411;
    boarder_color: white;
    boarder-width: 1px;
    boarder-style: dashed;
    border-bottom-left-radius: 3em;
    border-top-right-radius: 3em;
    background-color: #a7a7ce;
    padding: 25px;
    padding-left:80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top left;
    }
#elixirs a:link
{
    color: #007e7e;
}
#elixirs a:visited
{color:#333333;
}
#elixirs a:hover
{
    background:#f88396;
    color:#0d5353;
}